<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
        
            <!-- ADD PORTFOLİO -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#addPortfolio">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid fas fa-plus fa-3x " width="376" height="282" src="" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">ADD</div>
                        <div class="portfolio-caption-subheading text-muted">Add a new Photo on your portfolio</div>
                    </div>
                </div>
            </div>

            <% Photos.forEach( photo => { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#photo_<%- photo.id%>">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-edit fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"  src="<%- photo.photoURL %> " alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading"><%- photo.photoName %></div>
                            <div class="portfolio-caption-subheading text-muted"><%- photo.shortDetail %></div>
                        </div>
                    </div>
                </div>
            <% }) %>
           
            
        </div>

    </div>
</section>


<!-- ADD PORTFOLİO MODAL -->
<%- include('../modals/_addPortfolio.ejs') %>

<!-- EDIT PORTFOLİO -->

<%- include('../modals/_updatePortfolio.ejs') %> 



