<!DOCTYPE html>
<html lang="en">
        <!-- Header -->
            <%- include('./Partials/_header.ejs'); %> 
    <body id="page-top">

        <!-- Navigation-->
            <%- include('./Partials/_navigation.ejs'); %> 
     
        <!-- Portfolio Grid-->
            <%- include('./_pages/_portfolio.ejs') %> 

        <!-- Teams -->
            <%- include('./_pages/_teams.ejs'); %> 

        <!-- Footer-->
            <%- include('./Partials/_footer.ejs'); %> 
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
